body {

  font-family: arial, sans-serif;
  font-size: 15px;
  background: #fdfdfd;
  color: #555;

}

.logo{
  text-align: center;
  margin: auto;
  display: block;
}
.container{
  width: 750px;
  border: 11px solid #ccc;
  margin: 20px auto;
  padding: 20px;
  border-top: #432a32 3px solid;

}


.clr{
  clear: both;
}

ul{
  padding: 0;
  margin: 0;

}

h1,h2,h3,p{
  padding: 15px 0;
  margin-bottom: 0;
}
p{
  margin: 0;
}
a {
  text-decoration: none;
  color: #00B7FF;
}


nav{
  background-color: #404137;
  color: #fff;
  overflow: auto;
  height: 40px;
  padding: 20px 0 0 10px;
  font-size: 18px;
}


nav li{
  float: left;
  list-style: none;
}

nav a{
  padding: 10px;
  margin: 0 10px;
  color: #ffffff;


}


nav a.current, nav a:hover{
  background: #342a32;

}

.meta{
  padding: 7px;
  border: 1px solid gray;
  background: #cccccc;
  
}


a.more{
  display: inline-block;
  background: #404137;
  color: #ffffff;
  padding: 10px;

}


.post{
  border-bottom:1px solid #ccc;
  padding-bottom: 20px;

}

input,select,textarea{
  margin-bottom: 15px;
}


label{
  display: inline-block;
  width: 150px;
}


input[type="text"], select, textarea {
  padding: 3px;
  height: 20px;
  width: 200px;
  border: 1px #ccc solid;
}

select {
  height: 28px;
}


textarea{
  height: 70px;
  width: 400px;

}

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1 pm solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  list-style: none;

}



.alert-danger{
  color:#a94443;
  background-color: #f2dede;
  border-color: #cbccd1;
}


ul.success li{
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  list-style: none;
}



