body {

  font-family: arial, sans-serif;
  font-size: 15px;
  background: #fdfdfd;
  color: #555;

}

.logo{
  text-align: center;
  margin: auto;
  display: block;
}
.container{
  width: 750px;
  border: 11px solid #ccc;
  margin: 20px auto;
  padding: 20px;
  border-top: #432a32 3px solid;

}


.clr{
  clear: both;
}

ul{
  padding: 0;
  margin: 0;

}

h1,h2,h3,p{
  padding: 15px 0;
  margin-bottom: 0;
}
p{
  margin: 0;
}
a {
  text-decoration: none;
  color: #00B7FF;
}


nav{
  background-color: #404137;
  color: #fff;
  overflow: auto;
  height: 40px;
  padding: 20px 0 0 10px;
  font-size: 18px;
}


nav li{
  float: left;
  list-style: none;
}

nav a{
  padding: 10px;
  margin: 0 10px;
  color: #ffffff;


}


nav a.current, nav a:hover{
  background: #342a32;

}