{>"layouts/master"/}
{<body}
<div class="row">
    <div class="large-4 columns">
        <img src="/img/node1.jpg" alt=""/>
    </div>
    <div class="large-8 columns">
       <h2>Professionjs</h2>
    </div>
    <ul>
        <li>Category:</li>
        <li>Author:</li>
        <li>Publisher</li>
    </ul>
    <br/>

    <div class="price"><span>19.99</span></div>
    <br/>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, voluptatibus?</p>
    <a class="botton success" href="">Add To Cart</a>
</div>

{/body}